@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .wraapper{
    @apply w-[90%] mx-auto overflow-hidden max-w-screen-xl;
  }

  .button{

    @apply bg-bright-red text-vary-light-gray block w-max py-4 px-12 rounded-full;
  }

  .footer-area{
    grid-template-areas: 
    "form"
    "navigation"
    "social-media"
    "logo"
    "copy";
  }

  .footer-area-md{
    grid-template-areas: 
      "logo          navigation  form"
      "social-media  navigation  copy"
    ;
  }

}

 :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} 
